<h2>Listing venues</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Url</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Data source</th>
    <th>City</th>
    <th>State</th>
    <th>Zipcode</th>
    <th>Telephone</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @venues.each do |venue| %>
  <tr>
    <td><%= venue.name %></td>
    <td><%= venue.address %></td>
    <td><%= venue.url %></td>
    <td><%= venue.latitude %></td>
    <td><%= venue.longitude %></td>
    <td><%= venue.data_source_id %></td>
    <td><%= venue.city %></td>
    <td><%= venue.state %></td>
    <td><%= venue.zipcode %></td>
    <td><%= venue.telephone %></td>
    <td><%= link_to 'Show', venue %></td>
    <td><%= link_to 'Edit', edit_venue_path(venue) %></td>
    <td><%= link_to 'Destroy', venue, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Venue', new_venue_path %>
