<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @venue.name %>
</p>

<p>
  <b>Address:</b>
  <%= @venue.address %>
</p>

<p>
  <b>Url:</b>
  <%= @venue.url %>
</p>

<p>
  <b>Latitude:</b>
  <%= @venue.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @venue.longitude %>
</p>

<p>
  <b>Data source:</b>
  <%= @venue.data_source_id %>
</p>

<p>
  <b>City:</b>
  <%= @venue.city %>
</p>

<p>
  <b>State:</b>
  <%= @venue.state %>
</p>

<p>
  <b>Zipcode:</b>
  <%= @venue.zipcode %>
</p>

<p>
  <b>Telephone:</b>
  <%= @venue.telephone %>
</p>

<b> Add a Local Event </b>

<!-- create the game -->

<%= form_tag(:controller => 'games', :action => 'create') do %>

<%= label_tag 'Event title' %><br />
<%= text_field_tag 'game[title]' %><br />

<%= label_tag 'Description' %><br />
<%= text_area_tag 'game[description]' %><br />

<%= label_tag 'Date' %><br />
<%= date_select('game','date') %><br />

<%= label_tag 'Time' %><br />
<%= time_select ('game','time') %><br />
<%= hidden_field_tag 'game[venue_id]', @venue.id %>

<%= submit_tag 'Submit' %>
<% end %>


<%= link_to 'Edit', edit_venue_path(@venue) %> |
<%= link_to 'Back', venues_path %>
